.footer {
  max-width: 880px;
  width: 100%;
}

.footer__text {
  color: #545454;

  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;

  padding-bottom: 60px;
}

@media screen and (min-width: 715px) and (max-width: 1279px) {
  .footer {
  }
}

@media screen and (max-width: 715px) {
  .footer__text {
    margin-top: 50px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .footer {
    margin-left: 0;
    margin-right: 0;
    align-items: left;
    padding-left: 50px;
  }
}
